block variables   
    -var name = "Hunter";
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/dist/main.css' type='text/css')
h1 HELLO, PUG  
p #{name}
script(src='/dist/main.js')